.content_title_area{
    position: relative;
    width: fit-content;
  
  }
.content_title{
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    color: var(--dark-text-color);
    margin-bottom: 10.07px;
}

@media(max-width:1023px){
  .content_title{
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 11.07px;
  }
}