.content_title_area{
    position: relative;
    width: fit-content;
  
  }
.content_title{
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    color: var(--dark-text-color);
    margin-bottom: 10.07px;
}