.outline_btn{
    font-size: 14px;
    line-height: 150%;
    padding: 4px 8px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.outline_btn_primary{
    background-color: unset;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3.2px;
}
